name: forge-1.12.2-stable
on:
  workflow_dispatch:

jobs:
  minecraft:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 8
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '8'

      - name: Install Forge 1.12.2
        run: |
          curl -L -o forge-installer.jar \
            https://maven.minecraftforge.net/net/minecraftforge/forge/1.12.2-14.23.5.2860/forge-1.12.2-14.23.5.2860-installer.jar
          java -jar forge-installer.jar --installServer
          rm forge-installer.jar
          mv forge-*.jar server.jar
          echo "eula=true" > eula.txt
          mkdir -p mods

      - name: Install SpongeForge + ViaVersion
        run: |
          curl -L -o mods/_AAspongeforge.jar \
            https://repo.spongepowered.org/repository/maven-releases/org/spongepowered/spongeforge/1.12.2-2838-7.3.0/spongeforge-1.12.2-2838-7.3.0.jar

          curl -L -o mods/ViaVersion.jar \
            https://github.com/ViaVersion/ViaVersion/releases/download/3.2.3/ViaVersion-3.2.3.jar

          curl -L -o mods/ViaBackwards.jar \
            https://github.com/ViaVersion/ViaBackwards/releases/download/3.2.1/ViaBackwards-3.2.1.jar

          curl -L -o mods/ViaRewind.jar \
            https://github.com/ViaVersion/ViaRewind/releases/download/1.5.0/ViaRewind-1.5.0.jar

          ls -lh mods/

      - name: Start Server
        run: |
          java -Xms4G -Xmx6G \
            -XX:+UseG1GC \
            -jar server.jar nogui
